apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "server.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - name: grpc
              containerPort: {{ .Values.service.grpcport }}
              protocol: TCP
          env:
            - name: SERVER_PORT
              value: "{{ .Values.service.port }}"
            - name: SERVER_GRPC_PORT
              value: "{{ .Values.service.grpcport }}"
            - name: LOG_LEVEL
              value: {{ .Values.env.logLevel }}
            {{- range .Values.extraEnv }}
            - name: {{ .name }}
              value: "{{ .value }}"
            {{- end }}
            - name: VAULT_ADDR
              value: {{ .Values.vault.address }}
            - name: VAULT_ROLE
              value: {{ .Values.vault.role }}
            - name: DATABASE
              value: {{ .Values.env.database }}
            - name: ASTRA_ENTITY_NAME
              value: "{{ .Values.astra.entityName }}"
            - name: ASTRA_CRED_IDENTIFIER
              value: "{{ .Values.astra.credIdentifier }}"
            - name: CASSANDRA_ADDRESSES
              value: "{{ .Values.cassandra.dbAddresses }}"
            - name: CASSANDRA_SERVICE_USERNAME
              value: "{{ .Values.cassandra.dbUserName }}"
            - name: CASSANDRA_ENTITY_NAME
              value: "{{ .Values.cassandra.entityName }}"
            - name: CASSANDRA_DB_NAME
              value: "{{ .Values.cassandra.dbName }}"
            - name: ORY_ENTITY_NAME
              value: {{ .Values.ory.entityName }}
            - name: ORY_CRED_IDENTIFIER
              value: {{ .Values.ory.credIdentifier }}
            - name: IAM_URL
              value: {{.Values.iam.address}}
            - name: CAPTEN_OAUTH_URL
              value: {{.Values.ory.captenOAuthURL}}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
