apiVersion: v1
kind: Service
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.grpcport }}
      targetPort: {{ .Values.service.grpcport }}
      protocol: TCP
      name: grpc
  selector:
    {{- include "server.selectorLabels" . | nindent 4 }}
